@import '../../scss/variables';

.search {
  position: relative;

  .input {
    width: 336px;
    height: 36px;
    padding-left: 48px;
    background-color: $secondary_black;
    border: none;
    color: $primary_light_gray;
    font-weight: 300;
    font-size: 0.8rem;
  }

  .icon {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 16px;
    height: 16px;
  }
}

:root[data-theme='light'] {
  .search {
    .input {
      background-color: $primary_white;
      color: $primary_dark_gray;
      border: 1px solid $primary_light_gray;
      &::placeholder {
        color: $secondary_gray;
      }
    }
  }
}

@media (max-width: 1364px) {
  .search {
    .input {
      width: 296px;
    }
  }
}

@media (max-width: 767px) {
  .search {
    .input {
      width: 224px;
      height: 33px;
      font-size: 0.7rem;
    }
  }
}
