@import './libs/normalize';
@import './variables';

body {
  background-color: $primary_black;
  color: $primary_white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  background-color: transparent;
  padding: 0 20px;
  text-align: center;
}
